<%- include('partials/head')%>
        <div>
            <ul class="message-container">
                <% messages.map((value) => { %>
                    <li class="messages">
                        <p class="message-title"><%= value.title %></p>
                        <p class="message-text"><%= value.message %></p>
                        <div class="messages-info">
                            <p><%= value.date.toDateString() %></p>
                            <p><%= value.user.username %></p>
                            <i class="fas fa-trash"></i>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </body>
</html>