<%- include('partials/head')%>
        <div>
            <ul class="message-container">
                <% messages.map((value) => { %>
                    <li class="messages">
                        <p class="message-title"><%= value.title %></p>
                        <p class="message-text"><%= value.message %></p>
                        <div class="messages-info">
                            <div>
                                <% if (id === value.user.id) { %>
                                    <form action="/<%=value.id%>" method="POST">
                                        <button class="delete-button">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                <% } %>
                            </div>
                            <div>
                                <p><%= value.date.toDateString() %></p>
                                <p><%= value.user.username %></p>
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </body>
</html>