<%- include('partials/head')%>
        <div>
            <ul>
                <% messages.map((value) => { %>
                    <li>
                        <p><%= value.title %></p>
                        <p><%= value.message %></p>
                        <div>
                            <p><%= value.date %></p>
                            <p><%= value.user.username %></p>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </body>
</html>